@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");

/*--General Rules--*/
body {
    background-color: #090446;
    text-align: center;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
}

h1, h2, h3, h4 {
    color: #dd0113;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 3rem;
}

h3 {
  color: #dd0113;
  letter-spacing: 2px;
  font-size: 2.75rem;
}

h4 {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 2.5rem;
}

hr {
  border-top: 3px solid #4361ee;
  margin-top: 3rem;
}
/*--General RulesX--*/

/*--Classes--*/

div.card{
  background-color: #494947;
}

.btn {
  font-size: 2rem;
  color: #fff
}

.btn-link:hover {
  color: #dd0113;
}

.row {
    margin-top: 1rem;
}

.form {
    color: #dd0113;
}

.carousel-item {
  max-height: 550px;
}

.social-networks {
    font-size: 3rem;
  }

.blockquote-footer{
  color: #dd0113;
}

.form-help {
  color:#ffffffaa;
}

.modal-content {
  background-color: #4361ee !important;
}

/*--ClassesX--*/

/*--IDs--*/
 
#jumbo-outer {
  background-color: #dd0113;
  margin-top: 5px;
  margin-bottom: 5px;
}

#jumbo-text-box {
  background-color: #fff;
  margin-top: -30px;
  margin-bottom: -30px;
  padding: 5px;
}

#text-muted-j {
    color: #fff;
}


#jumbo-text-box p {
    color: #494947;
}

#class-background{
    background-image: url("../img/luis-vidal-FodEsaNZs48-unsplash.jpg");
    background-size: cover;
    background-color: #494947;
    background-repeat: no-repeat;
    color: #fff;
}

/*--IDsX--*/