@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");

/*--Colors--*/
body {
    background-color: #090446;
    text-align: center;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #dd0113;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 3rem;
}

h5 {
    color: #2950ff
}

h6 {
    font-size: 2rem;
}

.row {
    margin-top: 2rem;
}

.form {
    color: #dd0113;
}

.carousel-item {
  max-height: 400px;
}

.social-networks {
    font-size: 3rem;
  }

.panel-group {
    background-color: #fff;
    color:#494947;
}

.panel-title:after {
    content: '\21D5';
    font-size: 3rem;
    color: #dd0113;
    float: right;
    margin-left: 5px;
  }
  

#jumbo-outer {
  background-color: #dd0113;
  margin-top: 5px;
  margin-bottom: 5px;
}

#jumbo-text-box {
  background-color: #fff;
  margin-top: -30px;
  margin-bottom: -30px;
  padding: 5px;
}

#text-muted-j {
    color: #fff;
}

#jumbo-text-box p {
    color: #494947;
}

#class-background{
    background-image: url(/assets/img/luis-vidal-FodEsaNZs48-unsplash.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

