@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");

/*--Colors--*/
body {
    background-color: #090446;
}

h1, h2, h3, h4, h5, h6 {
    color: #dd0113;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 3rem;
}

p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
}

form {
    color: #981f29;
}

#text-muted-j {
    color: #fff;
}

.carousel-item {
  max-height: 400px;
}


#jumbo-outer {
  background-color: #981f29;
  margin-top: 5px;
  margin-bottom: 5px;
}

#jumbo-text-box {
  background-color: #fff;
  margin-top: -30px;
  margin-bottom: -30px;
  padding: 5px;
}

#jumbo-text-box p {
    color: #494947;
}

#class-background{
    background-image: url(assets/img/luis-vidal-FodEsaNZs48-unsplash.jpg);
}

.social-networks {
  font-size: 3rem;
}
